[Desktop Entry]
Type=Application
Exec=/usr/bin/nitrogen --restore
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Nitrogen
Name=Nitrogen
Comment[en_US]=Set wallpapers
Comment=Set wallpapers
